.roball {
  margin: 16px 4px 0px 4px;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Barlow';
  line-height: 32px;
  text-align: center;
  background-size: cover;
}
